.stockclub{
    background-color:#87db63

}
.border-stockclub{
    border-style:solid;
    border-color:#87db63 white #87db63 white;
    
}
.sommersfont{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}